@model ProductOverviewModel
@if (!String.IsNullOrEmpty(Model.ProductPrice.RewardPoints))
{
    {
        <span class="reward-label bg-danger text-white">@Model.ProductPrice.RewardPoints</span>
    }
    @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
    {
        @if (!string.IsNullOrEmpty(Model.Flag))
        {
            <span class="new-product-label with-promo with-reward bg-info text-white">@Model.Flag</span>
        }
        <span class="change-percent bg-success with-reward text-white">
            <span>-@(Convert.ToInt32((1 - Model.ProductPrice.PriceValue / Model.ProductPrice.OldPriceValue) * 100))%</span>
        </span>
    }
    else
    {
        @if (!string.IsNullOrEmpty(Model.Flag))
        {
            <span class="new-product-label bg-info with-promo text-white">@Model.Flag</span>
        }
    }
}
else if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
{
    @if (!string.IsNullOrEmpty(Model.Flag))
    {
        <span class="new-product-label with-promo bg-info text-white">@Model.Flag</span>
    }
    <span class="change-percent bg-success text-white">
        <span>-@(Convert.ToInt32((1 - Model.ProductPrice.PriceValue / Model.ProductPrice.OldPriceValue) * 100))%</span>
    </span>
}
else
{
    @if (!string.IsNullOrEmpty(Model.Flag))
    {
        <span class="new-product-label bg-info text-white">@Model.Flag</span>
    }
}